{% if site.googleplus_user %}
<section class="googleplus{% if site.googleplus_hidden %} googleplus-hidden{% endif %}">
  <h1>
    <a href="https://plus.google.com/{{ site.googleplus_user }}?rel=author">
      <img src="http://www.google.com/images/icons/ui/gprofile_button-32.png" width="32" height="32" alt="G+" title="G+" border="0">
      Google+
    </a>
  </h1>
</section>
{% endif %}

{% if site.linkedin_user %}
<section class="googleplus{% if site.linkedin_hidden %} googleplus-hidden{% endif %}">
  <h1>
    <a href="https://www.linkedin.com/in/{{ site.linkedin_user }}">
      <img src="https://static.licdn.com/scds/common/u/img/logos/logo_linkedin_92x22.png" width="92" height="22" alt="LinkedIn" title="LinkedIn" border="0">
    </a>
  </h1>
</section>
{% endif %}
